---
{
 "title": "accessibility verification",
 "date": null,
 "folder": "2000 Blockchain",
 "stem": "accessibility verification",
 "related": []
}
---
Accessibility verification would be a method of using a verification technology like [[blockchain]] to ensure compliance in all web-connected applications against an open standard of accessbility rules.

The point of this technology would be to check the UI and UX rules of a web-connected system for violations of coded characteristics representing successful accessibility. So long as the web-app follows these elements of compliance, it will not fail verification and present itself as quantifiably inaccessible in its interaction format.

What this would require is that the rules of the system be hard-coded as a component of another structure - the structure cannot exist without this verification element in place, because if the verification metric is failing to execute, the system is not in compliance with the rules.
## Questions
The question is whether or not work could happen at a low enough resolution to provide meaningful verification - an acceptable minimum standard by which accessibility verification is defined.

How would verification take place, and is the role of decentralizing this process to make it as acceptable as possible as a useful part of buiilding an open web?
